.catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.catalog__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}
.catalog__employee-info{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 100%;
    height: 350px;
}